$primary: rgb(0,220,130);
$secondary: rgb(34, 197, 153);

$primary-dark: rgb(42, 108, 72);
$secondary-dark: rgb(23, 109, 86);

$danger: rgb(174, 39, 39);
$warning: rgb(236, 212, 33);
$info: rgb(48, 149, 172);